@import "tailwindcss";
@plugin "daisyui";



@theme {
  --font-rancho: "Rancho", cursive;
  --font-raleway: "Raleway", sans-serif;

  --color-brand: #E3B577;
  --color-brandTitle: #331A15;

}
.rancho {
  font-family: "Rancho", cursive;
  font-style: normal;
}


.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

